html, body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: grey;
}

.main {
  display: block;
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  height: 10%;
  width: 100%;
}

.row div {
  height: 100%;
  width: 5%;
  display: flex;
  justify-content: center;
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
